@import '../global/mixins.scss';

/*******************************
    Global
********************************/
body {
    background: var(--bg-primary);
    font-size: var(--size-md);
    line-height: 200%;
    color: var(--text-primary);
    font-family: var(--font-body);
}
main {
    min-height: 100vh;
    background: var(--bg-primary-transparent);
    z-index: 2;

    @include mq-up(xxs) {
        padding: 0 0 var(--space-lg) var(--size-menu-width);
    }

    a {
        color: var(--text-secondary);
    }
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: var(--position-bg-image);
    background-attachment: fixed;
    filter: grayscale(1);
    opacity: var(--opacity-bg-image);
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    padding-right: var(--space-lg);
    margin-right: calc(-1 * var(--space-md));
    scrollbar-width: thin;
    scrollbar-color: var(--text-primary) transparent;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--text-primary);
    }

    &.accent {
        scrollbar-color: var(--bg-accent) transparent;

        &::-webkit-scrollbar-thumb {
            background: var(--bg-accent);
        }
    }
}

button {
    .is-open > & {
        .open-button {
            display: none;
        }
    }

    *:not(.is-open) > & {
        .close-button {
            display: none;
        }
    }
}

tag-tabset {
    display: flex;
    overflow: hidden;

    & > tag-tab {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        transition-duration: var(--transition-tab-duration);
    }
}
tag-labels {
    display: flex;
    flex-direction: column;

    .tab-category.accordion--content {
        &:not(:last-child) {
            margin-bottom: var(--space-sm);
        }

        &.is-active {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
        }
    }
}

.accordion {
    &--trigger {
        cursor: pointer;
    }
    
    &--content {
        &:not(.is-active) {
            display: none;
        }
    }
}

.macro {
    &--button {
        color: var(--text-primary);
        transition-duration: var(--transition-standard-duration);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: var(--bg-accent-mid);
        border-radius: var(--radius-standard);
        font-size: var(--size-xs);

        &:hover {
            color: var(--text-secondary);
            background: var(--bg-accent-high);
            font-size: calc(var(--size-xs) + 1px);
        }


        &[onclick] {
            cursor: pointer;

            .is-open > & {
                .open-button {
                    display: none;
                }
            }

            *:not(.is-open) > & {
                .close-button {
                    display: none;
                }
                & + tag-labels,
                & ~ .accordion {
                    display: none;
                }
            }
        }
    }

    &--small {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: var(--bg-tertiary);
        border-radius: var(--radius-standard);
        color: var(--text-primary);
        transition-duration: var(--transition-standard-duration);
        cursor: pointer;

        &:hover {
            background: var(--bg-accent-mid);
            color: var(--text-secondary);
        }
    }
}

#loading {
    position: fixed;
    top: calc(var(--size-menu-height) + var(--size-menu-width));
    left: 0;
    z-index: 1000000;
    width: 100%;
    height: calc(100% - var(--size-menu-height) - var(--size-menu-width));
    background: var(--bg-primary-high);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq-up(xxs) {
        top: var(--size-menu-height);
        left: var(--size-menu-width);
        width: calc(100% - var(--size-menu-width));
        height: calc(100% - var(--size-menu-height));
    }

    .loading-bubble {
        padding: var(--space-lg) var(--space-xl);
        background: var(--bg-accent-high);
        border-radius: var(--radius-standard);
        font-family: var(--font-head);
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 900;
        color: var(--text-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: var(--space-lg);

        p {
            margin: 0;
        }
    }
}

#Search .maintitle .small,
#Search.code-show main > #search-topics .tablebasic > tbody > tr > td:nth-child(3) table td .small,
#Search.code-getactive .tablebasic > tbody > tr > td:nth-child(3) table td .small {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: calc(var(--space-xs) / 2);
    font-size: 0;
    margin: var(--space-sm) 0;

    a {
        color: var(--text-primary);
        transition-duration: var(--transition-standard-duration);
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: var(--bg-secondary);
        border-radius: var(--radius-standard);
        font-size: var(--size-xs) !important;
        font-family: var(--font-body) !important;
        font-weight: 600 !important;
        padding: 0 !important;

        &:hover {
            color: var(--text-secondary);
            background: var(--bg-accent-low);
            font-size: calc(var(--size-xs) + 1px);
        }
    }
}
.pagination {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: calc(var(--space-xs) / 2);
    font-size: 0;

    &_pagetxt {
        display: none;
    }

    &_current {
        color: var(--text-secondary);
        background: var(--bg-accent-mid);
        width: 30px;
        height: 30px;
        border-radius: var(--radius-standard);
        font-size: var(--size-sm);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: var(--text-primary);
        transition-duration: var(--transition-standard-duration);
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: var(--bg-secondary);
        border-radius: var(--radius-standard);
        font-size: var(--size-xs);

        &:hover {
            color: var(--text-secondary);
            background: var(--bg-accent-low);
            font-size: calc(var(--size-xs) + 1px);
        }
    }

    &_last {
        font-size: 0 !important;

        &::after {
            font-size: var(--size-xs);
            font-family: 'Font Awesome 6 Pro';
            font-weight: 500;
        }

        &:hover {
            &::after {
                font-size: calc(var(--size-xs) + 1px);
            }
        }
    }
}
.goto-firstunread {
    font-size: 0;
    line-height: 0;

    a {
        font-size: var(--size-xs);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: var(--text-primary);
        line-height: 100%;
        background: var(--bg-secondary);
        padding: var(--space-xs) var(--space-sm);
        border-radius: var(--radius-standard);
        transition-duration: var(--transition-standard-duration);
        display: flex;
        align-items: center;
        height: 30px;

        &:hover {
            background: var(--bg-primary);
            color: var(--text-secondary);
        }
    }
}

.invisibleElTagging {
    &.menu-open + .alert-options .fa-tags,
    &:not(.menu-open) + .alert-options .fa-xmark {
        display: none;
    }
}
.invisibleElTagging,
.invisibleEl {
    position: fixed;
    z-index: -1;
    top: calc(var(--size-menu-height) + var(--size-menu-width));
    left: 0;
    width: 0;
    height: calc(100vh - var(--size-menu-height) - var(--size-menu-width));
    background: var(--bg-overlay);
    transition-duration: var(--transition-tab-duration);

    @include mq-up(xxs) {
        top: var(--size-menu-height);
        left: var(--size-menu-width);
        height: calc(100vh - var(--size-menu-height));
    }

    &.menu-open {
        width: 100%;
        z-index: 3;

        @include mq-up(xxs) {
            width: calc(100% - var(--size-menu-width));
        }
    }
}

.alert-select {
    display: none;
    position: absolute;
    top: calc(100% + 11px + var(--space-sm));
    right: 0;
    z-index: 5;
    background: var(--bg-tertiary);
    gap: var(--space-md);
    padding: var(--space-md);
    max-width: 600px;
    text-align: left;
    width: calc(100vw - (3 * var(--space-md)));
    border-radius: var(--radius-standard);

    @include mq-up(xxs) {
        width: calc(100vw - var(--size-menu-width) - (3 * var(--space-md)));
    }

    @include mq-up(sm) {
        grid-template-columns: repeat(3, 1fr);
        width: calc(100vw - 35px);
    }

    &.is-open {
        display: grid;
    }

    .alert-section {
        background: var(--bg-quaternary);
        border-radius: var(--radius-standard);
        padding: var(--space-md);

        .scroll {
            max-height: var(--size-alert-max-height);
        }

        .input-wrap {
            &:not(:last-child) {
                margin-bottom: var(--space-xs);
            }

            .fancy-input {
                &::before {
                    font-family: 'Font Awesome 6 Pro';
                }
            }
        }

        label {
            cursor: pointer;
        }

        & > b {
            text-transform: uppercase;
            letter-spacing: 0.4em;
            font-size: var(--size-xs);
            border-bottom: var(--border-accent);
            padding: 0 var(--space-sm) var(--space-sm) 0;
            margin: 0 0 var(--space-sm) 0;
            display: block;
            line-height: 120%;
        }

        hr {
            border: 0;
            border-top: var(--border-accent-transparent);
            margin: var(--space-sm) 0;
        }
    }

    input[type="button"] {
        grid-column: 1 / -1;
        cursor: pointer;
        margin: 0 auto;
    }
}

.custom-code,
tag-code,
.codecon {
    pre {
        margin: var(--space-sm) 0 0 0;

        textarea,
        code {
            display: block;
            width: 100%;
            background: var(--bg-tertiary-mid);
            border: var(--border-primary);
            border-radius: var(--radius-standard);
            height: 80px;
            font-family: var(--font-body);
            color: var(--text-primary);
            padding: var(--space-sm);
            line-height: 160%;
            font-size: var(--size-md);
            white-space: pre-wrap;
        }
    }
}
.copyQuick,
.codeclick {
    border: 0;
    color: var(--text-secondary);
    text-transform: uppercase;
    font-size: var(--size-xs);
    background: var(--bg-accent-low);
    font-weight: 900;
    letter-spacing: 0.3em;
    padding: var(--space-sm) var(--space-md);
    line-height: 100%;
    border-radius: var(--radius-standard);
    transition: var(--transition-standard-duration);
    cursor: pointer;
    width: max-content;
    max-width: 100%;

    &:hover {
        background: var(--bg-accent-mid);
    }
}

tag-highlight {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: var(--size-xs);
    background: var(--bg-accent-low);
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-standard);
}

select,
input,
button,
textarea {
    font-size: var(--size-md);
    letter-spacing: 0;
    background: var(--bg-secondary);
    border: var(--border-primary);
    border-radius: var(--radius-standard);
    height: 30px;
    color: var(--text-primary);
    padding: var(--space-xs) var(--space-sm);
    margin: 0;

    &:focus {
        outline: none;
        border: var(--border-accent);
    }
}
select,
input,
button {
    text-transform: uppercase;
    font-size: var(--size-xs);
    letter-spacing: 0.2em;
    line-height: 100%;
}
option {
    font-size: var(--size-md);
    letter-spacing: 0;
}
textarea {
    line-height: 200%;
    height: 150px;
    padding: var(--space-md) calc(var(--space-md) + 5px);

    .staticHeight & {
        height: 30px;
        padding: var(--space-xs) var(--space-sm);
    }
    .tallText & {
        height: 300px;
    }
}

fieldset {
    border: 0;
    border-bottom: var(--border-accent-transparent);
    text-align: left;
    font-size: var(--size-xs);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: var(--space-lg);

    legend {
        display: block;
        font-size: var(--size-xs);
        text-transform: uppercase;
        padding: 0 var(--space-sm) var(--space-xs) 0;
        line-height: 160%;
        border-bottom: var(--border-accent);
        margin: 0 auto var(--space-md) 0;
        width: max-content;
        letter-spacing: 0.4em;
        color: var(--text-secondary);
    }
}