@import '../global/mixins.scss';

/*******************************
   Categories and Forums
********************************/
.category {
   margin-top: calc(1.5 * var(--space-xl));

   &:first-of-type {
      margin-top: 0;
   }

   h2 {
      text-transform: uppercase;
      font-size: var(--size-xs);
      letter-spacing: 0.4em;
      line-height: 160%;
      border-bottom: var(--border-accent);
      padding: 0 var(--space-sm) var(--space-sm) 0 ;
      width: max-content;
      max-width: 100%;
      margin: 0 var(--space-md) var(--space-md);

      @include mq-up(xs) {
         margin: 0 var(--space-lg) var(--space-md);
      }
   }

   .splide__list {
      padding-right: 10vw !important;
   }

   &--navigation {
      display: flex;
      align-items: center;
      gap: var(--space-lg);
      margin-top: var(--space-md);
      padding: 0 var(--space-md);

      @include mq-up(xs) {
         padding: 0 var(--space-lg);
      }

      hr {
         width: var(--space-xl);
         border: 0;
         border-top: var(--border-accent);
      }
   }
      
   &--arrows {
      display: flex;
      gap: var(--space-sm);
      position: relative !important;
      width: auto !important;
      bottom: auto !important;
      left: auto !important;
      height: auto !important;
   }
   &--arrow {
      background: none;
      color: var(--text-secondary);
      position: relative;
      width: auto;
      height: auto;
      transform: none;
      top: auto;
      left: auto;
      right: auto;
      position: relative !important;
   }

   &--progress {
      background: var(--bg-quaternary);
      width: 100%;

      &-bar {
         height: 2px;
         transition-duration: var(--transition-standard-duration);
         width: 0;
         background: var(--bg-accent);
      }
   }
}

.forum {
   background: var(--bg-tertiary-high);
   padding: var(--space-md);
   border-radius: var(--radius-standard);
   height: 100%;

   &--topper {
      display: grid;
      grid-template-columns: auto max-content;
   }

   &--image {
      width: 100%;
      height: 100%;
      background: var(--bg-accent-high);
      border-radius: var(--radius-sm);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   &--title-row {
      margin-top: var(--space-md);
      display: flex;
      gap: var(--space-sm);
      align-items: center;

      &.is-open {
         .forum--links {
            transform: scaleY(1);
         }
      }
   }

   &--sublink-menu {
      background: var(--bg-secondary);
      border: 0;
      color: var(--text-secondary);
      width: var(--size-icon-square);
      height: var(--size-icon-square);
      border-radius: var(--radius-standard);
      transition-duration: var(--transition-standard-duration);
      font-size: var(--size-xs);
      cursor: pointer;

      &:hover {
         background: var(--bg-primary);
         color: var(--text-accent);
         font-size: calc(var(--size-xs) + 1px);
      }
   }

   &--links {
      transform: scaleY(0);
      transition-duration: var(--transition-standard-duration);
      transform-origin: top;
      position: absolute;
      top: calc(100% + var(--space-sm));
      left: 0;
      width: 100%;
      background: var(--bg-primary);
      border-radius: var(--radius-standard);
      z-index: 1;
      padding: var(--space-sm);
      text-transform: uppercase;
      max-height: 120px;
      height: 120px;

      &:empty {
         display: none !important;
      }

      a {
         background: var(--bg-tertiary-mid);
         display: block;
         border-radius: var(--radius-sm);
         color: var(--text-primary);
         padding: var(--space-xs) var(--space-sm);
         font-size: var(--size-xs);
         letter-spacing: 0.2em;
         transition-duration: var(--transition-standard-duration);

         &:not(:first-child) {
            margin-top: var(--space-xs);
         }

         &.subforums-macro {
            display: none;
         }

         &:hover {
            background: var(--bg-tertiary-high);
            color: var(--text-secondary);
         }
      }
   }

   &--name {
      color: var(--text-secondary);
      font-family: var(--font-head);
      text-transform: uppercase;
      font-weight: 900;
      font-size: calc(var(--size-xl) + 4px);
      display: block;
   }

   &--stats {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      display: flex;
      text-transform: uppercase;
      font-size: var(--size-xs);
      letter-spacing: 0.2em;
      gap: var(--space-md);
      padding: var(--space-xs) 0;
   }

   &--stat {
      & > b {
         color: var(--text-accent);
      }
   }

   &--info {
      display: flex;
      flex-direction: column;
      margin-top: var(--space-md);

      & > span {
         text-transform: uppercase;
         border-bottom: var(--border-primary);
         padding: var(--space-sm);
         display: flex;
         align-items: center;
         gap: var(--space-md);

         a {
            color: var(--text-primary);
         }

         &:first-child {
            font-family: var(--font-head);
            font-size: var(--size-xl);
            font-weight: 700;
            border-top: var(--border-primary);

            .fa-light {
               opacity: 0.5;
            }
         }

         &:nth-child(2) {
            font-family: var(--font-head);
            font-size: calc(var(--size-xl) * 0.8);
            letter-spacing: 0.1em;

            a {
               color: var(--text-accent);

               &::before {
                  content: 'Written by ';
                  color: var(--text-primary);
               }
            }
         }

         &:last-child {
            font-size: var(--size-xs);
            letter-spacing: 0.2em;
            font-style: italic;
         }
      }
   }

   &--desc {
      .scroll {
         margin: var(--space-sm) var(--space-sm) 0;
         max-height: 80px;
         text-align: justify;
         height: 100%;
      }

      &:not(:has(.scroll)) {
         display: none;
      }
   }

   &:has(.forum--links:empty) {
      .forum--sublink-menu {
         display: none;
      }
   }

   &.redirect {
      display: flex;
      flex-direction: column;

      .forum--topper {
         flex-grow: 1;
      }

      .forum--name {
         font-size: calc(2 * (var(--size-xl) + 4px));
         line-height: 160%;
         order: 1;
      }

      .forum--title-row {
         flex-direction: column;
         align-items: start;
         gap: 0;
         margin-top: 0;
      }

      .forum--sublink-menu {
         order: 2;
      }

      .forum--links {
         top: auto;
         bottom: calc(var(--size-icon-square) + var(--space-sm));
         transform-origin: bottom;
      }
   }
}