@import '../global/mixins.scss';

/*******************************
    Store
********************************/

//General
#store {
    main {
        & > table:first-of-type {
            display: block;

            & ~ * {
                display: none;
            }

            & > tbody {
                display: block;

                & > tr {
                    display: flex;
                    flex-direction: column;

                    &:not(:has(#ucpcontent)) {
                        gap: var(--space-lg);
                    }
                    
                    & > td {
                        &#ucpmenu {
                            position: sticky;
                            top: calc(var(--size-menu-height) + var(--size-menu-width) + var(--space-md));
                            margin: 0 var(--space-md);
                            background: var(--bg-tertiary);
                            border-radius: var(--radius-standard);
                            padding: var(--space-sm);
                            display: flex;
                            width: calc(100% - (2 * var(--space-md)));
                            box-shadow: 0 0 5px var(--bg-primary-high);
                            gap: var(--space-sm);
                            z-index: 2;
                    
                            @include mq-up(xxs) {
                                margin: 0 var(--space-lg);
                                top: calc(var(--size-menu-height) + var(--space-lg));
                                width: calc(100% - (2 * var(--space-lg)));
                            }
                    
                            & > .accordion {
                                position: absolute;
                                top: calc(100% + var(--space-md));
                                background: var(--bg-quaternary);
                                border-radius: var(--radius-standard);
                                padding: var(--space-md);
                                width: 250px;
                                max-height: calc(100vh - var(--size-menu-height) - 50px - (3 * var(--space-md)) - var(--size-menu-width));
                                padding-bottom: var(--space-md);
                    
                                @include mq-up(xxs) {
                                    max-height: calc(100vh - var(--size-menu-height) - 50px - (2 * var(--space-md)) - var(--space-lg));
                                }
                    
                                .accordion--trigger {
                                    &:not(:first-child) {
                                        margin-top: var(--space-sm);
                                    }
                    
                                    b {
                                        text-transform: uppercase;
                                        font-size: var(--size-xs);
                                        letter-spacing: 0.2em;
                                        color: var(--text-secondary);
                                        border-bottom: var(--border-accent);
                                        padding: 0 var(--space-sm) var(--space-xs) 0;
                                    }
                                }
                                .accordion--content {
                                    flex-direction: column;
                                    gap: var(--space-xs);
                                    padding: var(--space-sm) 0 var(--space-xs);

                                    &.is-active {
                                        display: flex;
                                    }

                                    a {
                                        color: var(--text-primary);
                                        text-transform: uppercase;
                                        font-size: var(--size-md);
                                        line-height: 120%;
                                        font-family: var(--font-head);
                                        font-weight: 700;
                                        background: var(--bg-tertiary-mid);
                                        border-radius: var(--radius-standard);
                                        padding: var(--space-sm) var(--space-md);
                                        letter-spacing: 0.05em;
                                        transition-duration: var(--transition-standard-duration);

                                        &:hover {
                                            background: var(--bg-tertiary-high);
                                            color: var(--text-secondary);
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &#ucpcontent {
                            flex-grow: 1;
                            padding: var(--space-md);

                            @include mq-up(xs) {
                                padding: var(--space-lg);
                            }

                            input[type="text"],
                            input[type="file"],
                            input[type="password"],
                            textarea,
                            select {
                                width: 100%;
                            }
    
                            input[type="submit"] {
                                z-index: 1;
                                background: var(--bg-accent-high);
                                font-family: var(--font-head);
                                font-size: var(--size-lg);
                                letter-spacing: 0;
                                font-weight: 700;
                                padding: var(--space-sm) var(--space-lg);
                                height: auto;
                                border: var(--border-accent-transparent);
                                cursor: pointer;
                                transition-duration: var(--transition-standard-duration);
                                color: var(--text-secondary);
                                display: block;
                                border-radius: var(--radius-standard);
                                text-align: center;
                                line-height: 160%;

                                &:hover {
                                    background: transparent;
                                }
                            }

                            .maintitle {
                                display: none;
                            }
                    
                            form {
                                & > table {
                                    display: block;
                        
                                    & > tbody {
                                        display: block;
                        
                                        & > tr {
                                            display: flex;
                                            flex-direction: column;
                                            gap: var(--space-sm);
                                            margin-bottom: var(--space-md);
                    
                                            @include mq-up(xxs) {
                                                margin-bottom: var(--space-lg);
                                            }
                    
                                            @include mq-up(sm) {
                                                gap: var(--space-md);
                                            }
                        
                                            .pformleft {
                                                b,
                                                strong,
                                                label {
                                                    line-height: 160%;
                                                    display: block;
                                                    max-width: max-content;
                                                    padding: var(--space-xs) var(--space-sm);
                    
                                                    & ~ br {
                                                        display: none;
                                                    }
                                                }
                                            }
                                            .pformright {
                                                display: flex;
                                                gap: var(--space-xs);
                                                height: max-content;
                                            }
                    
                                            & > :only-child {
                                                grid-column: 1 / -1;
                                            }
                        
                                            &:last-child {
                                                .pformstrip:only-child {
                                                    margin-bottom: 0;
                                                    padding: 0;
                                                    text-align: center;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Store Home
#store.store-home {
    #ucpcontent {
        & > table {
            & > tbody {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: var(--space-sm);

                & > tr {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding: var(--space-lg);
                    background: var(--bg-tertiary);
                    border-radius: var(--radius-standard);

                    td {
                        text-align: justify;
                        padding: 0;

                        a {
                            display: block;
                            max-width: max-content;
                            margin-bottom: var(--space-sm);
                            font-size: calc(var(--size-lg) + 4px);
                            text-transform: uppercase;
                            font-family: var(--font-head);
                            line-height: 140%;
                            color: var(--text-secondary);
                            font-weight: 700;
                            border-bottom: var(--border-accent);
                            padding: 0 0.6em 0.3em 0;

                            & + br {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }
    }
}
//Store Shop
#store.store-shop {
    #ucpcontent {
        & > table {
            display: block;

            & > tbody {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: var(--space-md);

                @include mq-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    @include mq-up(sm) {
                        flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                    }

                    @include mq-up(md) {
                        flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                    }

                    img {
                        width: var(--size-store-image);
                        height: var(--size-store-image);
                        object-fit: contain;
                        object-position: center;
                    }
                    &:first-child {
                        display: none;
                    }
                    &:last-child {
                        grid-column: 1 / -1;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: var(--bg-tertiary);
                        border-radius: var(--radius-standard);
                        text-transform: uppercase;
                        font-size: var(--size-xs);
                        letter-spacing: 0.2em;
                        font-weight: 600;
    
                        a {
                            display: block;
                            max-width: max-content;
                            margin: 0 0 0 auto;
                            padding: var(--space-sm);
                            z-index: 1;
                        }

                        & > td {
                            display: block;
                            text-align: left;

                            &:nth-child(2) {
                                text-align: center;
                            }

                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                    &:not(:first-child):not(:last-child) {
                        padding: var(--space-md);
                        display: grid;
                        grid-template-columns: var(--size-store-image) 1fr 1fr var(--size-store-image);
                        grid-template-rows: repeat(auto-fit, minmax(0, max-content));
                        gap: var(--space-md);
                        background: var(--bg-tertiary);
                        border-radius: var(--radius-standard);

                        & > td {
                            padding: 0;
                            text-align: left;

                            &:first-child {
                                height: var(--size-store-image);
                                align-self: center;
                            }
    
                            &:nth-child(2) {
                                grid-column: span 3;
                                max-width: max-content;
                                font-size: calc(var(--size-lg) + 4px);
                                text-transform: uppercase;
                                font-family: var(--font-head);
                                line-height: 140%;
                                color: var(--text-secondary);
                                font-weight: 700;
                            }
    
                            &:nth-child(3) {
                                grid-column: 1 / -1;
                                font-size: calc(var(--size-md) + 1px);
                                text-align: justify;
                                border-top: var(--border-primary);
                                border-bottom: var(--border-primary);
                                padding: var(--space-md) 0;
                            }
    
                            &:nth-child(4),
                            &:nth-child(5) {
                                grid-column: span 2;
                                text-transform: uppercase;
                                font-size: var(--size-xs);
                                letter-spacing: 0.2em;
                                font-weight: 600;
                            }
    
                            &:nth-child(4) {
                                &::before {
                                    content: '$';
                                }
                            }
    
                            &:nth-child(5) {
                                text-align: right;

                                &::after {
                                    content: ' In Stock';
                                }
                            }
    
                            &:nth-child(6):last-child {
                                grid-column: 1 / -1;
                                padding: var(--space-md) 0 0;
    
                                a {
                                    display: block;
                                    max-width: max-content;
                                    margin: 0 0 0 auto;
                                    padding: var(--space-sm);
                                    z-index: 1;
                                }
                            }
    
                            &:nth-child(6):not(:last-child),
                            &:nth-child(7):last-child {
                                grid-column: span 2;
                                font-size: 0;
                                line-height: 0;
    
                                a {
                                    z-index: 1;
                                    background: var(--bg-accent-high);
                                    font-family: var(--font-head);
                                    font-size: var(--size-lg);
                                    letter-spacing: 0;
                                    font-weight: 700;
                                    padding: var(--space-sm) var(--space-lg);
                                    height: auto;
                                    border: var(--border-accent-transparent);
                                    cursor: pointer;
                                    transition-duration: var(--transition-standard-duration);
                                    color: var(--text-secondary);
                                    display: block;
                                    border-radius: var(--radius-standard);
                                    text-align: center;
                                    line-height: 160%;

                                    &:hover {
                                        background: transparent;
                                    }
                                }
                            }
    
                            &:nth-child(7):last-child {
                                a {
                                    &::before {
                                        content: 'Buy ';
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Store Inventory
#store.store-inventory {
    #ucpcontent {
        & > table {
            display: block;

            & > tbody {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: var(--space-md);

                @include mq-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > tr {
                    display: flex;
                    flex-wrap: wrap;

                    @include mq-up(sm) {
                        flex: 0 0 calc(50% - calc(var(--space-md) / 2));
                    }

                    @include mq-up(md) {
                        flex: 0 0 calc((100% / 3) - calc(var(--space-md) * 2 / 3));
                    }

                    img {
                        width: var(--size-store-image);
                        height: 24px;
                        object-fit: contain;
                        object-position: center;
                    }
                    &:first-child {
                        grid-column: 1 / -1;
                        display: flex;
                        align-items: center;
                        background: var(--bg-tertiary);
                        border-radius: var(--radius-standard);
                        padding: var(--space-sm) var(--space-md);
                        text-transform: uppercase;
                        letter-spacing: 0.2em;
                        font-size: var(--size-xs);
                        font-weight: 600;
                        flex-wrap: wrap;

                        & > td {
                            padding: 0;

                            &:first-child {
                                line-height: 160%;
                                max-width: max-content;
                                display: block;
                                max-width: max-content;
                                padding: var(--space-xs) var(--space-sm);
                            }
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(2) {
                        display: none;
                    }
                    &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
                        padding: var(--space-md);
                        display: grid;
                        grid-template-columns: var(--size-store-image) calc(100% - var(--size-store-image) - var(--space-md));
                        grid-template-rows: max-content max-content max-content max-content auto;
                        gap: var(--space-md);
                        background: var(--bg-tertiary);
                        border-radius: var(--radius-standard);

                        td {
                            padding: 0;
                            width: 100%;

                            &:first-child {
                                order: 1;
                            }
    
                            &:nth-child(2) {
                                order: 2;
                                text-align: left;
                                font-size: calc(var(--size-lg) + 4px);
                                text-transform: uppercase;
                                font-family: var(--font-head);
                                line-height: 140%;
                                color: var(--text-secondary);
                                font-weight: 700;
                            }

                            &:not(:first-child):not(:nth-child(2)) {
                                grid-column: 1 / -1;
                            }
    
                            &:nth-child(3) {
                                text-align: justify;
                                order: 4;
                                font-size: calc(var(--size-md) + 1px);
                                text-align: justify;
                                border-top: var(--border-primary);
                                border-bottom: var(--border-primary);
                                padding: var(--space-md) 0;

                                &:empty {
                                    display: none;
                                }
                            }
    
                            &:nth-child(4) {
                                flex: 0 0 100%;
                                order: 3;
                                text-align: left;
                                text-transform: uppercase;
                                letter-spacing: 0.2em;
                                font-size: var(--size-xs);
                                font-weight: 600;
    
                                &::after {
                                    content: ' Owned';
                                }
                            }
    
                            &:last-child {
                                display: flex;
                                align-items: end;
                                flex: 0 0 100%;
                                order: 5;
    
                                a {
                                    z-index: 1;
                                    background: var(--bg-accent-high);
                                    font-family: var(--font-head);
                                    font-size: var(--size-lg);
                                    letter-spacing: 0;
                                    font-weight: 700;
                                    padding: var(--space-sm) var(--space-lg);
                                    height: auto;
                                    border: var(--border-accent-transparent);
                                    cursor: pointer;
                                    transition-duration: var(--transition-standard-duration);
                                    color: var(--text-secondary);
                                    display: block;
                                    border-radius: var(--radius-standard);
                                    text-align: center;
                                    line-height: 160%;

                                    &:hover {
                                        background: transparent;
                                    }
                                }
    
                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Store Forms
#store.store-donate_money,
#store.store-donate_item,
#store.store-fine,
#store.store-edit_points,
#store.store-do_edit_points,
#store.store-edit_inventory {
    #ucpcontent {
        & > table {
            & > tbody {
                & > tr {
                    &:not(:last-child) {
                        display: grid;
    
                        @include mq-up(sm) {
                            grid-template-columns: 250px calc(100% - 265px);
                        }
    
                        & > td {
                            width: 100%;
                        }
                        .pformleft:first-child {
                            b,
                            strong,
                            label {
                                display: block;
                                line-height: 160%;
                                max-width: max-content;
                                padding: var(--space-xs) var(--space-sm);
    
                                & ~ br {
                                    display: none;
                                }
                            }
                        }
                        .pformleft + .pformleft {
                            display: flex;
                            height: max-content;
                        }
                    }
                }
            }
        }
    }
}
//Store Edit Inventory Item List
#store.store-do_staff_inventory {
    #ucpcontent {
        & > table {
            display: block;

            & > tbody {
                display: grid;
                gap: var(--space-xs);

                @include mq-up(xxs) {
                    gap: var(--space-md);
                }

                @include mq-up(sm) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include mq-up(md) {
                    grid-template-columns: repeat(3, 1fr);
                }

                & > tr {
                    display: grid;
                    gap: var(--space-md);

                    &:not(:last-child) {
                        grid-template-columns: var(--size-store-image) auto;
                        background: var(--bg-tertiary);
                        padding: var(--space-md) var(--space-md) var(--space-md) calc((2 * var(--space-md)) + var(--size-fancy-input));
                        border-radius: var(--radius-standard);
                    }
                    &:last-child {
                        grid-column: 1 / -1;
                    }

                    img {
                        width: var(--size-store-image);
                        height: var(--size-store-image);
                        object-fit: contain;
                        object-position: center;
                    }

                    & > td {
                        width: 100%;
                        padding: 0;
                        text-align: left;

                        &:nth-child(2) {
                            font-size: calc(var(--size-lg) + 4px);
                            text-transform: uppercase;
                            font-family: var(--font-head);
                            line-height: 140%;
                            color: var(--text-secondary);
                            font-weight: 700;
                        }

                        &:nth-child(3),
                        &:nth-child(4) {
                            display: none;
                        }

                        &:nth-child(5) {
                            position: absolute;
                            top: var(--space-md);
                            left: var(--space-md);
                        }
                    }
                    &:first-child,
                    &:nth-last-child(2):not(:nth-child(2)) {
                        display: none;
                    }
                    &:last-child {
                        flex: 0 0 100%;
                        border: none;
                        
                        td {
                            flex: 0 0 100%;
                        }
                    }
                }
            }
        }
    }
}
//Store Use Item
#store.store-useitem {
    #ucpcontent {
        & > table {
            & > tbody {
                & > tr {
                    &:first-child {
                        display: none;
                    }
                }
            }
        }
    }
}