@import '../global/mixins.scss';

/*******************************
    Templates
********************************/
tag-wrap2,
tag-comm2 {
    display: flex;
    flex-direction: column;
    margin: var(--space-lg) auto;

    & > br {
        display: none;
    }

    tag-reserve,
    tag-claim,
    tag-tagged,
    tag-credit {
        display: block;
        margin: var(--space-md) 0 0 auto;
        text-transform: uppercase;
        background: var(--bg-quaternary);
        padding: var(--space-xs) var(--space-sm);
        border-radius: var(--radius-sm);
        width: max-content;
        max-width: 100%;
    }
}
tag-inner2 {
    white-space: pre-line;

    [data-scroll] & {
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: var(--space-md);
        scrollbar-width: thin;
        scrollbar-color: var(--text-primary) transparent;
    
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--text-primary);
        }
    }
}
tag-wrap2 {
    max-width: 400px;
}
tag-comm2 {
    width: 275px;
    height: 475px;
    background-color: var(--bg-quaternary);
    padding: var(--space-lg);
    background-image: var(--bg-svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 200%;
    border-radius: 0 0 var(--radius-standard) var(--radius-standard);

    &:has(tag-reaction),
    &:has(tag-status) {
        height: auto;
        max-height: 475px;
    }

    tag-scroll,
    tag-inner2 {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        padding-right: var(--space-md);
        margin-right: calc(-1 * var(--space-md));
        scrollbar-width: thin;
        scrollbar-color: var(--text-accent) transparent;
    
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--text-accent);
        }

        &:has(.splide) {
            height: 100%;
        }
    }
}

[data-type="quote"] {
    tag-content2,
    tag-inner2 {
        font-size: 24px;
        line-height: 160%;
        font-weight: 200;
        padding: var(--space-lg) !important;
    }
    tag-inner2 {
        background: var(--bg-quintenary) !important;
    }
}
tag-credit2 {
    font-size: var(--size-xs);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background: var(--bg-quaternary);
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--radius-standard);
    margin: var(--space-sm) 0 0 auto;
    display: block;
    width: max-content;
    max-width: 100%;
    line-height: 200%;

    i {
        font-weight: 700;
    }
}

tag-content2 {
    background: var(--bg-quaternary);
    padding: var(--space-lg);

    .user-tagged {
        background: var(--bg-tertiary);
    }

    &:not(:has(tag-inner2)) {
        white-space: pre-line;
        border-radius: var(--radius-standard);
    }

    &:has(tag-inner2) {
        background-color: var(--bg-quaternary);
        padding: var(--space-lg);
        background-image: var(--bg-svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 200%;
        border-radius: 0 0 var(--radius-standard) var(--radius-standard);
    }
    
    tag-inner2 {
        &[data-type="images"] {
            display: grid;
            gap: var(--space-sm);

            tag-image2 {
                aspect-ratio: 1 / 1;
                background: var(--bg-accent);

                img {
                    top: var(--space-xs);
                    left: var(--space-xs);
                    width: calc(100% - (2 * var(--space-xs)));
                    height: calc(100% - (2 * var(--space-xs)));
                    border-radius: var(--radius-sm);
                }
            }

            &[data-columns="2"] {
                @include mq-up(xs) {
                    grid-template-columns: repeat(2, 1fr);
                    padding: var(--space-md) 0;

                    & > *:nth-child(2n + 1) {
                        bottom: calc(-1 * var(--space-md));
                    }
                    & > *:nth-child(2n) {
                        top: calc(-1 * var(--space-md));
                    }
                }
            }

            &[data-columns="3"] {
                @include mq-up(xs) {
                    grid-template-columns: repeat(3, 1fr);
                    padding: var(--space-md) 0;

                    & > *:nth-child(3n + 1),
                    & > *:nth-child(3n) {
                        bottom: calc(-1 * var(--space-md));
                    }
                    & > *:nth-child(3n + 2) {
                        top: calc(-1 * var(--space-md));
                    }
                }
            }

            &[data-columns="4"] {
                @include mq-up(xs) {
                    grid-template-columns: repeat(4, 1fr);
                    padding: var(--space-md) 0;

                    & > *:nth-child(4n + 1),
                    & > *:nth-child(4n + 3) {
                        bottom: calc(-1 * var(--space-md));
                    }
                    & > *:nth-child(4n + 2),
                    & > *:nth-child(4n) {
                        top: calc(-1 * var(--space-md));
                    }
                }
            }

            &[data-columns="5"] {
                @include mq-up(xs) {
                    grid-template-columns: repeat(3, 1fr);
                    padding: var(--space-md) 0;

                    & > *:nth-child(3n + 1),
                    & > *:nth-child(3n) {
                        bottom: calc(-1 * var(--space-md));
                    }
                    & > *:nth-child(3n + 2) {
                        top: calc(-1 * var(--space-md));
                    }
                }
                @include mq-up(sm) {
                    grid-template-columns: repeat(5, 1fr);
                    padding: var(--space-md) 0;

                    & > *:nth-child(5n + 1),
                    & > *:nth-child(5n + 3),
                    & > *:nth-child(5n) {
                        top: auto;
                        bottom: calc(-1 * var(--space-md));
                    }
                    & > *:nth-child(5n + 2),
                    & > *:nth-child(5n + 4) {
                        top: calc(-1 * var(--space-md));
                        bottom: auto;
                    }
                }
            }
        }

        &:not([data-type="images"]) {
            display: block;
            padding: var(--space-md);
            background: var(--bg-quaternary);
            border-radius: var(--radius-sm);
        }
    }
}

tag-image2 {
    border-radius: var(--radius-standard);
    overflow: hidden;
    font-size: 0;
    line-height: 0;

    & > br {
        display: none;
    }

    tag-block2 > & {
        width: calc(100% - (2 * var(--space-lg)));
        aspect-ratio: 1 / 1;
        background: var(--bg-quaternary);
        margin: var(--space-lg);

        img {
            top: var(--space-sm);
            left: var(--space-sm);
            width: calc(100% - (2 * var(--space-sm)));
            height: calc(100% - (2 * var(--space-sm)));
        }
    }

    tag-wrap2 > & {
        width: 125px;
        aspect-ratio: 1 / 1;
        margin-bottom: calc(-1 * var(--space-lg));
        z-index: 1;
        background: var(--bg-accent);

        img {
            top: var(--space-xs);
            left: var(--space-xs);
            width: calc(100% - (2 * var(--space-xs)));
            height: calc(100% - (2 * var(--space-xs)));
        }
    }

    tag-wrap2 > &[data-ratio="16:9"],
    tag-wrap2[data-ratio="16:9"] > &,
    tag-wrap2 > &[data-ratio="3:2"],
    tag-wrap2[data-ratio="3:2"] > &,
    tag-wrap2 > &[data-ratio="4:3"],
    tag-wrap2[data-ratio="4:3"] > &,
    tag-wrap2 > &[data-ratio="5:4"],
    tag-wrap2[data-ratio="5:4"] > & {
        width: 250px;
    }

    img {
        position: absolute;
    }

    & + tag-content2 {
        margin-left: var(--space-lg);
        padding-top: calc(var(--space-lg) + var(--space-md));
    }
}

tag-block2 {
    display: flex;
    flex-direction: column;

    & > br {
        display: none;
    }

    &:not(:has(tag-quote2 + tag-image2)) {
        border-top: var(--border-accent);
    }

    &:not(:has(tag-image2 + tag-quote2)) {
        border-bottom: var(--border-accent);
    }
    &:not(:has(tag-quote2 + tag-image2)) {
        &::before {
            content: '';
            height: var(--space-md);
            border-radius: var(--radius-standard) var(--radius-standard) 0 0;
            background: var(--bg-quaternary);
            width: 100%;
            position: absolute;
            top: calc((-1 * var(--space-md)) - 1px);
            left: 0;
        }
    }
    &:has(tag-image2 + tag-quote2) {
        margin-bottom: var(--space-lg);
    }
}

tag-quote2 {
    text-transform: uppercase;
    font-size: var(--size-xs);
    letter-spacing: 0.4em;
    line-height: 160%;
    font-style: italic;
    color: var(--text-accent);
    background: var(--bg-quaternary);
    padding: var(--space-md) var(--space-lg);
    white-space: pre-line;

    &:last-child:not(:only-child) {
        border-top: var(--border-accent);
        border-radius: 0 0 var(--radius-standard) var(--radius-standard);
    }

    &:first-child:not(:only-child) {
        border-bottom: var(--border-accent);
        border-radius: var(--radius-standard) var(--radius-standard) 0 0;
    }
}

tag-contact2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
    margin-bottom: var(--space-sm);

    & > br {
        display: none;
    }

    tag-image2 {
        width: 100px;
        aspect-ratio: 1 / 1 !important;
        background: var(--bg-quintenary);

        & > br {
            display: none;
        }

        img {
            top: var(--space-xs);
            left: var(--space-xs);
            width: calc(100% - (2 * var(--space-xs)));
            height: calc(100% - (2 * var(--space-xs)));
            border-radius: var(--radius-sm);
        }
    }

    & > b {
        font-family: var(--font-head);
        font-size: 20px !important;
    }
}

tag-msg2 {
    background: var(--bg-quintenary);
    padding: var(--space-md);
    border-radius: var(--radius-sm);
    font-size: var(--size-md);
    line-height: 160%;
    white-space: pre-line;
}

tag-action2 {
    background: var(--bg-accent-mid);
    padding: var(--space-md);
    border-radius: var(--radius-sm);
    font-size: var(--size-xs);
    line-height: 160%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-style: italic;
    font-weight: 800;
    white-space: pre-line;
}
tag-wrap2,
tag-comm2 {
    .splide[data-type="gallery2"],
    .splide[data-type="socialgallery2"] {
    
        .splide__list {
            tag-image {
                padding: 0;
                background: none;
                height: auto;
                max-width: none;
                transition-duration: var(--transition-standard-duration);

                img {
                    transition-duration: var(--transition-standard-duration);
                    border-radius: var(--radius-standard);
                }
    
                &:not(.is-active) {
                    img {
                        opacity: 0.25;
                        transform: scale(0.9);
                    }
                }
            }
        }

        .gallery {
            &--navigation {
                display: flex;
                align-items: center;
                gap: var(--space-lg);
                margin-top: var(--space-md);
                padding: 0;

                hr {
                    width: var(--space-lg);
                    border: 0;
                    border-top: var(--border-accent);
                }
            }
            &--arrows {
                display: flex;
                gap: var(--space-sm);
                position: relative;
                width: auto;
                bottom: auto;
                left: auto;
                height: auto;
            }
            &--arrow {
                background: none;
                color: var(--text-secondary);
                position: relative !important;
                width: auto;
                height: auto !important;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                top: auto;
                left: auto;
                right: auto;

                i {
                    color: var(--text-secondary);
                }
            }
            &--progress {
                background: var(--bg-quintenary);
                width: 100%;
            }
            &--progress-bar {
                height: 2px;
                transition-duration: var(--transition-standard-duration);
                width: 0;
                background: var(--bg-accent);
            }
        }
    }

    tag-contact,
    tag-msg,
    tag-needs,
    tag-connections,
    tag-reaction,
    tag-status {
        margin: 0;
    }

    tag-contact {
        & > b {
            font-size: var(--size-xl) !important;
        }
        & > p {
            font-size: var(--size-xs);
            letter-spacing: 0.2em;
        }
    }
    tag-msg {
        background: var(--bg-quintenary);
        padding: var(--space-md);
        border-radius: var(--radius-sm);
    }
    tag-needs,
    tag-connnections {
        background: var(--bg-quintenary);
        padding: var(--space-md);
        border-radius: var(--radius-sm);
        display: grid;
        grid-template-columns: repeat(5, 30px);

        b {
            color: var(--text-secondary) !important;
            font-style: normal;
            font-weight: 600 !important;
            padding: 0 0.6em 0.3em 0 !important;
            border-bottom: var(--border-accent);
            margin-bottom: var(--space-xs);
            grid-column: 1 / -1;
            width: max-content;
            max-width: 100%;
            font-size: var(--size-xs) !important;
            letter-spacing: 0.2em;
        }

        img {
            border-radius: var(--radius-sm);
        }
    }
    tag-reaction,
    tag-status {
        background: var(--bg-quintenary);
        padding: var(--space-md);
        border-radius: var(--radius-sm);

        b {
            color: var(--text-secondary) !important;
            font-style: normal;
            font-weight: 600 !important;
            padding: 0 0.6em 0.3em 0 !important;
            border-bottom: var(--border-accent);
            margin-bottom: var(--space-xs);
            grid-column: 1 / -1;
            width: max-content;
            max-width: 100%;
            font-size: var(--size-xs) !important;
            letter-spacing: 0.2em;
        }

        p {
            text-align: justify;
        }

        img {
            border-radius: var(--radius-sm);
            padding: var(--space-xs);
            background: var(--bg-accent);
        }
    }
}

tag-year2 {
    font-family: var(--font-head);
    font-weight: 900;
    font-size: 36px;
    color: var(--text-secondary);
    width: max-content;
    max-width: 100%;
    line-height: 120%;

    &:not(:first-child) {
        margin-top: var(--space-lg);
    }
}
tag-month2 {
    font-size: var(--size-xs);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border-bottom: var(--border-accent);
    width: max-content;
    max-width: 100%;
    padding-right: var(--space-sm);
    margin-top: var(--space-xs);
}
tag-event2 {
    text-align: justify;
    background: var(--bg-quaternary);
    border-radius: var(--radius-standard);
    padding: var(--space-md);
    font-size: var(--size-md);
    line-height: 160%;
    margin-top: var(--space-sm);
    white-space: pre-line;

    & + tag-month2 {
        margin-top: var(--space-md);
    }
}

tag-song2 {
    background: var(--bg-quintenary);
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-sm);

    &:not(:first-child) {
        margin-top: var(--space-sm);
    }

    & > br {
        display: none;
    }
    & > b {
        font-family: var(--font-head);
        text-transform: uppercase;
        color: var(--text-secondary) !important;
        font-size: 18px !important;
        line-height: 140%;
        width: max-content;
        max-width: 100%;
        border-bottom: var(--border-accent);
        padding: 0 0.6em 0.3em 0;
        margin-bottom: var(--space-xs);
    }
    & > i {
        font-size: var(--size-sm) !important;
        text-transform: uppercase;
        color: var(--text-primary) !important;
        font-style: normal;
        letter-spacing: 0.2em;
        font-weight: 700;
    }
    & > p {
        font-size: var(--size-xs);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-style: italic;
        border-top: var(--border-primary);
        margin: var(--space-xs) 0 0;
        padding-top: var(--space-xs);
        white-space: pre-line;
    }
}

/*** Legacy from previous template set ***/
tag-contact {
    margin: 10px 0 0 10px;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 160%;
    background: var(--bg-accent);
    color: var(--text-on-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & > br {
        display: none;
    }

    lux-image {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        margin-top: 5px;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            background-image: url(https://files.jcink.net/uploads2/wherethehellis/Background_Images/bg_staff_min.jpg);
        }
    }

    img {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        margin-top: 5px;
    }

    b {
        font-family: var(--font-head);
        text-transform: uppercase;
        font-weight: 900;
        font-size: 18px;
        color: var(--text-on-accent) !important;
    }

    p {
        margin: 0 0 5px;
        line-height: 100%;
        font-size: calc(var(--size-xs) + 1px);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}
tag-needs {
    margin: 10px 0 0 10px;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 160%;
    background: var(--bg-quaternary);
    color: var(--text-secondary);
    font-size: calc(var(--size-xs) + 1px);
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.1em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;

    b {
        flex: 0 0 100%;
        padding: 0 !important;
        background: none !important;
    }

    i {
        color: var(--border-primary) !important;
        font-size: 10px !important;
        width: 30px;
        height: 30px;
        background: var(--bg-tertiary);
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 1px solid var(--border-primary);
    }

    &[data-work="true"],
    &[data-work="True"],
    &[data-work="TRUE"] {
        i.fa-briefcase {
            background: var(--bg-accent);
            color: var(--text-on-accent) !important;
        }
    }
    &[data-convo="true"],
    &[data-convo="True"],
    &[data-convo="TRUE"] {
        i.fa-message-lines {
            background: var(--bg-accent);
            color: var(--text-on-accent) !important;
        }
    }
    &[data-friends="true"],
    &[data-friends="True"],
    &[data-friends="TRUE"] {
        i.fa-users {
            background: var(--bg-accent);
            color: var(--text-on-accent) !important;
        }
    }
    &[data-fling="true"],
    &[data-fling="True"],
    &[data-fling="TRUE"] {
        i.fa-bolt {
            background: var(--bg-accent);
            color: var(--text-on-accent) !important;
        }
    }
    &[data-love="true"],
    &[data-love="True"],
    &[data-love="TRUE"] {
        i.fa-heart {
            background: var(--bg-accent);
            color: var(--text-on-accent) !important;
        }
    }
}
tag-connections {
    margin: 10px 0 10px 10px;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 160%;
    background: var(--bg-quaternary);
    color: var(--text-secondary);
    font-size: calc(var(--size-xs) + 1px);
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.1em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    b {
        flex: 0 0 100%;
        padding: 0 !important;
        background: none !important;
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
}
tag-reaction {
    margin: 10px 0 0 10px;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 160%;
    background: var(--bg-quaternary);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    font-size: var(--size-md);

    &:last-child {
        margin-bottom: 10px;
    }

    b {
        flex: 0 0 100%;
        padding: 0 !important;
        background: none !important;
        color: var(--text-secondary);
        font-size: calc(var(--size-xs) + 1px);
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 0.1em;
    }

    p {
        margin: 0;
    }
}
tag-status {
    margin: 10px 0 0 10px;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 160%;
    background: var(--bg-quaternary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    font-size: var(--size-md);

    &:last-child {
        margin-bottom: 10px;
    }

    img {
        width: 75px;
        height: 75px;
        border-radius: 10px;
        margin-top: 5px;
    }

    p {
        margin: 0;
        width: 100%;

        b,
        a {
            padding: 0 !important;
            background: none !important;
            color: var(--text-secondary);
            font-size: calc(var(--size-xs) + 1px);
            font-family: var(--font-body) !important;
            text-transform: uppercase;
            font-style: italic;
            letter-spacing: 0.1em;
        }

        a {
            font-weight: 800 !important;
        }
    }
}
.splide {
    li {
        &::before {
            display: none;
        }
    }

    .splide__list {
        tag-image {
            padding: 0;
            background: none;
            height: auto;
            max-width: none;
            transition-duration: 0.3s;

            &:not(.is-active) {
                img {
                    opacity: 0.25;
                    transform: scale(0.9);
                }
            }
        }
    }

    .splide__pagination {
        display: flex;
        flex-wrap: wrap;
        gap: 0 10px;
        padding: 0 40px;
        position: relative;
        bottom: auto;
        
        li {
            margin: 0 !important;
            padding: 0;
            
            button {
                border: 1px solid var(--border-primary);
                width: 12px;
                margin: 0;
                padding: 0;
                height: 2px;
                background: var(--bg-quintenary);
                border-radius: 1px;

                &:not(.is-active):hover {
                    background: var(--border-accent-transparent);
                }
                &.is-active {
                    background: var(--bg-accent);
                    border-color: var(--bg-accent);
                }
            }
        }
    }

    .splide__arrows {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;

        .splide__arrow {
            border: 0;
            background: none;
            color: var(--text-secondary);
            position: absolute;
            bottom: 0;
            height: 12px;
            display: flex;
            align-items: center;

            &--prev {
                left: 0;
            }
            &--next {
                right: 0;
            }
        }
    }
}
tag-reserve {
    &::before {
        content: 'Reserved by ';
    }
}
tag-claim {
    &::before {
        content: 'Played by ';
    }
}
tag-tagged {
    &::before {
        content: 'Written for ';
    }
}