@import '../global/mixins.scss';

/*******************************
    Webpages
********************************/
#Pages {
    main {
        padding-bottom: 0;
    }
}
.webpage {
    & ~ div {
        display: none;
    }

    &--menu {
        position: sticky;
        top: calc(var(--size-menu-height) + var(--size-menu-width) + var(--space-md));
        margin: 0 var(--space-md);
        background: var(--bg-tertiary);
        border-radius: var(--radius-standard);
        padding: var(--space-sm);
        display: flex;
        width: calc(100% - (2 * var(--space-md)));
        box-shadow: 0 0 5px var(--bg-primary-high);
        gap: var(--space-sm);
        z-index: 2;

        @include mq-up(xxs) {
            margin: 0 var(--space-lg);
            top: calc(var(--size-menu-height) + var(--space-lg));
            width: calc(100% - (2 * var(--space-lg)));
        }
                    
        & > .accordion {
            position: absolute;
            top: calc(100% + var(--space-md));
            background: var(--bg-quaternary);
            border-radius: var(--radius-standard);
            padding: var(--space-md) var(--space-md) calc(var(--space-md) + var(--space-sm));
            width: 250px;
            max-height: calc(100vh - var(--size-menu-height) - 50px - (3 * var(--space-md)) - var(--size-menu-width));

            @include mq-up(xxs) {
                max-height: calc(100vh - var(--size-menu-height) - 50px - (2 * var(--space-md)) - var(--space-lg));
            }

            .accordion--trigger {
                &:not(:first-child) {
                    margin-top: var(--space-sm);
                }

                span {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: var(--size-xs);
                    letter-spacing: 0.2em;
                    color: var(--text-secondary);
                    border-bottom: var(--border-accent);
                    padding: 0 var(--space-sm) var(--space-xs) 0;
                }
            }
            .accordion--content {
                flex-direction: column;
                gap: var(--space-xs);
                padding: var(--space-sm) 0 var(--space-xs);

                &.is-active {
                    display: flex;
                }

                a {
                    color: var(--text-primary);
                    text-transform: uppercase;
                    font-size: var(--size-md);
                    line-height: 120%;
                    font-family: var(--font-head);
                    font-weight: 700;
                    background: var(--bg-tertiary-mid);
                    border-radius: var(--radius-standard);
                    padding: var(--space-sm) var(--space-md);
                    letter-spacing: 0.05em;
                    transition-duration: var(--transition-standard-duration);

                    &:hover {
                        background: var(--bg-tertiary-high);
                        color: var(--text-secondary);
                    }
                }
            }
        }

        tag-labels {
            & > a {
                color: var(--text-primary);
                text-transform: uppercase;
                font-size: var(--size-md);
                line-height: 120%;
                font-family: var(--font-head);
                font-weight: 700;
                background: var(--bg-tertiary-mid);
                border-radius: var(--radius-standard);
                padding: var(--space-sm) var(--space-md);
                letter-spacing: 0.05em;
                transition-duration: var(--transition-standard-duration);

                &:hover {
                    background: var(--bg-tertiary-high);
                    color: var(--text-secondary);
                }
            }
        }

        .menu-filters {
            display: flex;
            flex-direction: column;
            margin-top: var(--space-sm);

            & > strong {
                font-size: var(--size-xs);
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-weight: 600;
            }
        }
    }

    &--content {
        overflow: hidden;
        margin: calc(50px + var(--space-md) + var(--size-menu-width)) auto 0;
        max-width: 1000px;
        width: calc(100% - (2 * var(--space-md)));

        @include mq-up(xxs) {
            margin: calc(50px + var(--space-lg)) auto 0;
            width: calc(100% - (2 * var(--space-lg)));
        }

        tag-tabset {
            tag-tab {
                background: var(--bg-tertiary);
                border-radius: var(--radius-standard);
            }
        }

        &-inner {
            overflow-x: hidden;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: var(--text-primary) transparent;
            padding-right: var(--space-md);
            margin: var(--space-lg) var(--space-md) var(--space-lg) var(--space-lg);
            overflow: auto;
            font-size: var(--size-lg);
            text-align: justify;
            line-height: 200%;

            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--text-primary);
            }

            @include mq-up(xxs) {
                height: calc(100vh - var(--size-menu-height) - 50px - (2 * var(--space-md)) - (4 * var(--space-lg)));
            }

            .accordion--trigger {
                margin: var(--space-lg) 0;
                width: 100%;
                max-width: max-content;

                &::after {
                    margin-left: var(--space-sm);
                    font-family: 'Font Awesome 6 Pro';
                    font-size: 0.6em;
                    top: -3px;
                    position: relative;
                }
            }
        }
    }

    form {
        max-width: 700px;
        margin: 0 auto;

        label {
            &:not(.input-wrap) {
                display: flex;
                flex-direction: column;
                gap: var(--space-sm);
    
                b {
                    font-weight: 400 !important;
                    text-transform: uppercase;
                    font-size: var(--size-xs);
                    letter-spacing: 0.2em;
                    border-bottom: var(--border-accent);
                    padding: 0 var(--space-sm) var(--space-xs) 0;
                    width: max-content;
                    max-width: 100%;
                    line-height: 160%;
                    color: var(--text-secondary);
                }
            }
            &.input-wrap {
                strong {
                    font-family: var(--font-head);
                    font-size: calc(var(--size-md) + 1px);
                    letter-spacing: 0.2em;
                    letter-spacing: 0;
                    font-weight: 400;
                }
            }
        }

        .section-wrap,
        .form-multiselect,
        .form-section {
            border-bottom: var(--border-primary);
            padding-bottom: var(--space-lg);
        }

        .section-wrap {
            margin: var(--space-md) 0;
        }

        .field-wrap {
            display: flex;
            flex-direction: column;
            gap: var(--space-sm);
            border-bottom: var(--border-primary);
            padding-bottom: var(--space-lg);

            b {
                margin: 0 auto 0.4em 0;
                line-height: 120%;
                font-family: var(--font-head);
                text-transform: uppercase;
                width: 100%;
                max-width: max-content;
                font-weight: 400;
                padding: 0 0.6em 0.4em 0;
                border-bottom: var(--border-accent-transparent);
                color: var(--text-primary);
                letter-spacing: 0.1em;
                @include fluid-type(12, 18, 480, 1280);
            }
        }

        input,
        select,
        textarea {
            width: 100%;
            font-size: var(--size-md);
            text-transform: none;
            letter-spacing: 0;
            line-height: 160%;
        }

        button {
            background: var(--bg-accent-high);
            font-family: var(--font-head);
            font-size: var(--size-xl);
            letter-spacing: 0;
            font-weight: 700;
            padding: var(--space-md) var(--space-lg);
            height: auto;
            border: var(--border-accent-transparent);
            min-width: 250px;
            width: max-content;
            max-width: 100%;
            margin: 0 auto;
            cursor: pointer;
            transition-duration: var(--transition-standard-duration);
            color: var(--text-secondary);

            &:hover {
                background: transparent;
            }
        }
    }

    .tab-pretitle {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: var(--size-xs);
        line-height: 160%;
        opacity: 0.75;
        padding-left: 0.1em;

        & + .tab-heading {
            margin-top: 0 !important;
        }
    }

    .directory {
        &--subtitle {
            font-family: var(--font-head);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: var(--size-md);
            display: flex;
            flex-wrap: wrap;
            gap: var(--space-sm) var(--space-lg);
            align-items: center;

            & > div {
                border-left: var(--border-accent);
                padding-left: var(--space-md);
            }
        }
        &--overview {
            margin: var(--space-lg) 0;
        }
        &--section {
            padding: var(--space-lg);
            background: var(--bg-accent-low);
            border-radius: var(--radius-standard);

            .hours-flex {
                text-transform: uppercase;
                display: flex;
                flex-wrap: wrap;
                gap: var(--space-sm) var(--space-md);
                font-size: calc(var(--size-xs) + 1px);
                letter-spacing: 0.2em;
            }
        }
    }
}
.plot {
    &--section-overview {
        margin-left: 0 !important;
    }
    &--role-description {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: 600;
        font-size: var(--size-xs);
        font-style: italic;
    }
}
.claim {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: var(--size-xs);
    text-transform: uppercase;
    line-height: 200%;
    background: var(--bg-quaternary);
    padding: var(--space-md);
    border-radius: var(--radius-standard);

    & > a,
    & > b {
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0;
        line-height: 160%;
    }
    & > b {
        color: var(--text-secondary);
    }
    & > div {
        display: flex;
        flex-direction: column;
    }
    & > span {
        & > a {
            font-family: var(--font-body);
            font-weight: 700;
            color: var(--text-secondary);
        }
        &:nth-of-type(1) {
            font-weight: 700;
        }
        &:last-child {
            font-style: italic;
        }
    }
}
.neighbourhood {
    max-width: 500px;
    margin: 0 auto;

    .accordion--trigger {
        margin: var(--space-md) 0;
        line-height: 120%;
        font-family: var(--font-head);
        text-transform: uppercase;
        width: 100%;
        max-width: max-content;
        font-weight: 400;
        padding: 0 0.6em 0.4em 0;
        border-bottom: var(--border-accent-transparent);
        color: var(--text-primary);
        letter-spacing: 0.1em;
        @include fluid-type(12, 18, 480, 1280);
    }
}
.group-aesthetics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-sm);
    max-width: 500px !important;
    padding: var(--space-sm) var(--space-lg) 0;

    span {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: block;
        overflow: hidden;
        border-radius: var(--radius-standard);
        background: var(--bg-accent-high);
        border: var(--border-accent-transparent);

        &:nth-child(2n) {
            top: calc(-1 * var(--space-sm));
        }

        &:nth-child(2n+1) {
            bottom: calc(-1 * var(--space-sm));
        }

        img {
            position: absolute;
            top: var(--space-xs);
            left: var(--space-xs);
            width: calc(100% - (2 * var(--space-xs)));
            height: calc(100% - (2 * var(--space-xs)));
            border-radius: var(--radius-sm);
        }
    }

    & + blockquote {
        max-width: 500px !important;
    }
}
[data-type="grid"]:has(.group-aesthetics) {
    margin: 0 auto;
    max-width: max-content;
}
.map {
    height: 100%;
    width: 100%;

    &-wrap {
        width: 100%;
        margin: 0 auto;
        aspect-ratio: 300 / 245;
        line-height: 0;
        max-width: 550px;
        max-height: calc(80vh - 185px);

        .region-desc {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background: var(--bg-quaternary);
            padding: 15px 30px;
            font-family: var(--font-head);
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0.2em;
            font-size: var(--size-xl);
            line-height: 120%;
            border-radius: 2px;
            color: var(--text-secondary);
            opacity: 0;
            transition-duration: var(--transition-standard-duration);

            &.active {
                opacity: 1;
            }
        }
    }

    polygon,
    rect {
        fill-rule: evenodd;
        clip-rule: evenodd;
        transition-duration: var(--transition-standard-duration);
        stroke: var(--border-primary-color);
    }
    .thickOutline {
        stroke-width: 1;
        stroke-linejoin: round;
    }
    .water {
        fill: #87A5A4;
    }
    .land {
        fill: #AFC2A0;
    }
    .coastline {
        fill: #6EB6DA;

        &:hover {
            fill: #5492B1;
        }
    }
    .outskirts {
        fill: #A8B473;

        &:hover {
            fill: #8F9A60;
        }
    }
    .central {
        fill: #C086A9;

        &:hover {
            fill: #AD7998;
        }
    }
    .downtown {
        fill: #9877AB;

        &:hover {
            fill: #886a9a;
        }
    }
    .oldtown {
        fill: #C29786;

        &:hover {
            fill: #A37B6B;
        }
    }
    .nofill {
        fill: none;
    }
    .region,
    .nofill {
        stroke-width: 0.5;
        stroke-miterlimit: 10;
    }
}